
<div class="container bodyContainer">
	<app-registro-header [origen]=2></app-registro-header>
</div>
<div class="dividers__container">
	<hr class="dividers__line--whiteBg">
</div>
<div class="container">
	<div class="body-tap">
		<p class="BBVABentonSansLight-Regular titulo1">
			Visualización Pre-oferta
		</p>
		<p class="BBVABentonSans-BooK titulo2">
			heckli makes it easy to get things done, and get things done right. Make personal checklists, workflows and team processes.Checkli makes it easy to get things done, and get things done right. Make personal checklists, workflows and team processes
		</p>
	</div>
</div>
