

//$bbva-font-path: '../assets/fonts/' !default;
$bbva-font-path: 'https://jswzjk9f.openweb.bbva/ui/fonts-new/0.2/';


// TODO: create these and apply them to scss components
$zindex-common : 1000 !default;
$zindex-common-overlay: 1010 !default;
$zindex-sticky : 1020 !default;
$zindex-fixed : 1030 !default;
$zindex-lightbox-backdrop : 1040 !default;
$zindex-lightbox: 1050 !default;
$zindex-navigation : 1060 !default;
$zindex-navigation-mobile : 1070 !default;
$zindex-navigation-mobile-wrapper: 1080 !default;
$zindex-top-overlay: 2000 !default;




