<div class="coronita bodyCoronita">
    <div class="container bodyContainer">
        <h1 class="titulo-1">
            Resultado Búsqueda
        </h1>
        <div *ngIf="items?.length == 0 ">
            0 resultador
        </div>
        <div *ngIf="items?.length > 0 ">
            <div class="bs-example ">
                <div class="tables">
                    <section class="comparison-table comparison-table__simple container">
                        <table>
                            <thead>
                                <tr>
                                    <th>Identificación</th>
                                    <th>Nombre</th>
                                    <th>Apellido</th>
                                    <th>Correo electrónico</th>
                                    <th>Estado Aspirante</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let item of items">
                                    <td>{{item.idectificacion}}</td>
                                    <td>{{item.nombre}}</td>
                                    <td>{{item.apellido}}</td>
                                    <td>{{item.email}}</td>
                                    <td>{{item.estado}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </section>
                </div>
            </div>
        </div>
        <!--section>
        <ngb-pagination [collectionSize]="70" [(page)]="page" [disabled]='isDisabled'></ngb-pagination>
        </section-->
    </div>
</div>

