$bbva-icon-font-path: 'https://jswzjk9f.openweb.bbva/ui/fonts-new/0.5';

$ui-360-mobile-view: "\f101";
$ui-accesible-toilet: "\f102";
$ui-account: "\f103";
$ui-add-notes: "\f104";
$ui-add: "\f105";
$ui-address-book: "\f106";
$ui-advance: "\f107";
$ui-aeroplane: "\f108";
$ui-alarm: "\f109";
$ui-alphabetical-order: "\f10a";
$ui-angry: "\f10b";
$ui-app-store: "\f10c";
$ui-archive-mail: "\f10d";
$ui-arrows: "\f10e";
$ui-atm: "\f10f";
$ui-attached: "\f110";
$ui-audio: "\f111";
$ui-auto-bank: "\f112";
$ui-auto: "\f113";
$ui-automate: "\f114";
$ui-automatic-access: "\f115";
$ui-baby-cart: "\f116";
$ui-baby: "\f117";
$ui-back: "\f118";
$ui-bakery: "\f119";
$ui-balance-dollar: "\f11a";
$ui-balance-euro: "\f11b";
$ui-balcony: "\f11c";
$ui-bank: "\f11d";
$ui-bar: "\f11e";
$ui-barcode: "\f11f";
$ui-bath: "\f120";
$ui-bbva-contigo: "\f121";
$ui-bbva-experience: "\f122";
$ui-bbva-go: "\f123";
$ui-bbva-valora-view: "\f124";
$ui-bbva-valora: "\f125";
$ui-bconomy: "\f126";
$ui-bed: "\f127";
$ui-behance-simple: "\f128";
$ui-behance: "\f129";
$ui-behavioural-economics: "\f12a";
$ui-bicycle: "\f12b";
$ui-big-glass: "\f12c";
$ui-bizum: "\f12d";
$ui-blind-app: "\f12e";
$ui-block-card: "\f12f";
$ui-block: "\f130";
$ui-blog: "\f131";
$ui-bluetooth: "\f132";
$ui-boiler: "\f133";
$ui-bonus-account: "\f134";
$ui-bookstore: "\f135";
$ui-branch: "\f136";
$ui-building: "\f137";
$ui-built-land: "\f138";
$ui-bulb: "\f139";
$ui-bullet: "\f13a";
$ui-bullet1: "\f13b";
$ui-burning-car: "\f13c";
$ui-bus: "\f13d";
$ui-business-inteligent: "\f13e";
$ui-butcher-shop: "\f13f";
$ui-buy-stock: "\f140";
$ui-calculator: "\f141";
$ui-calendar: "\f142";
$ui-camera: "\f143";
$ui-campus: "\f144";
$ui-car-accident: "\f145";
$ui-car-moons: "\f146";
$ui-car-plus: "\f147";
$ui-car-workshop-: "\f148";
$ui-card: "\f149";
$ui-cart: "\f14a";
$ui-cash-register: "\f14b";
$ui-cash-up: "\f14c";
$ui-cash: "\f14d";
$ui-change-camera: "\f14e";
$ui-change-euro: "\f14f";
$ui-channels: "\f150";
$ui-charge-card: "\f151";
$ui-charge-mobile: "\f152";
$ui-chat: "\f153";
$ui-check: "\f154";
$ui-checkmark: "\f155";
$ui-children: "\f156";
$ui-cinema: "\f157";
$ui-cleanliness: "\f158";
$ui-clock: "\f159";
$ui-close: "\f15a";
$ui-cloud: "\f15b";
$ui-coffee-shop: "\f15c";
$ui-collapse: "\f15d";
$ui-color: "\f15e";
$ui-commercial-offer: "\f15f";
$ui-communication: "\f160";
$ui-concrete-mixer: "\f161";
$ui-cone: "\f162";
$ui-confectionery: "\f163";
$ui-configuration: "\f164";
$ui-construction-helmet: "\f165";
$ui-construction-stopped: "\f166";
$ui-continue: "\f167";
$ui-copy-credit-card: "\f168";
$ui-copy: "\f169";
$ui-couple: "\f16a";
$ui-crane: "\f16b";
$ui-credit-card: "\f16c";
$ui-crossway: "\f16d";
$ui-culture-and-talent: "\f16e";
$ui-currency-exchange: "\f16f";
$ui-delete: "\f170";
$ui-delivery: "\f171";
$ui-deposit: "\f172";
$ui-desktop: "\f173";
$ui-diaper: "\f174";
$ui-digital-card: "\f175";
$ui-digital-handwriting: "\f176";
$ui-digital-press: "\f177";
$ui-digital-signature: "\f178";
$ui-digital-tv: "\f179";
$ui-directory: "\f17a";
$ui-disabled-card: "\f17b";
$ui-discharge-card: "\f17c";
$ui-discount: "\f17d";
$ui-divider: "\f17e";
$ui-dna: "\f17f";
$ui-document: "\f180";
$ui-dollar: "\f181";
$ui-donations: "\f182";
$ui-down-arrow: "\f183";
$ui-down-cloud: "\f184";
$ui-down: "\f185";
$ui-download: "\f186";
$ui-dribble-simple: "\f187";
$ui-dribble: "\f188";
$ui-edit: "\f189";
$ui-education: "\f18a";
$ui-elevator: "\f18b";
$ui-email-read: "\f18c";
$ui-email: "\f18d";
$ui-empty-card: "\f18e";
$ui-end-call: "\f18f";
$ui-end: "\f190";
$ui-entertainment: "\f191";
$ui-euro: "\f192";
$ui-excel: "\f193";
$ui-executive: "\f194";
$ui-expand: "\f195";
$ui-exploration: "\f196";
$ui-express-account: "\f197";
$ui-face-id: "\f198";
$ui-facebook-messenger: "\f199";
$ui-facebook-simple: "\f19a";
$ui-facebook: "\f19b";
$ui-fast-food: "\f19c";
$ui-favorite: "\f19d";
$ui-feedback: "\f19e";
$ui-filter: "\f19f";
$ui-fingerprint: "\f1a0";
$ui-first: "\f1a1";
$ui-fixed: "\f1a2";
$ui-flickr-simple: "\f1a3";
$ui-flickr: "\f1a4";
$ui-florist: "\f1a5";
$ui-fold: "\f1a6";
$ui-folder: "\f1a7";
$ui-football: "\f1a8";
$ui-forbidden-to-pass-in-front-bus: "\f1a9";
$ui-forest: "\f1aa";
$ui-france-go: "\f1ab";
$ui-frecuency: "\f1ac";
$ui-free-dollar: "\f1ad";
$ui-free-euro: "\f1ae";
$ui-frozen: "\f1af";
$ui-funtional-square: "\f1b0";
$ui-furniture: "\f1b1";
$ui-get-out: "\f1b2";
$ui-glass-with-ice: "\f1b3";
$ui-globe: "\f1b4";
$ui-google-drive: "\f1b5";
$ui-google-hangouts: "\f1b6";
$ui-google-plus-simple: "\f1b7";
$ui-google-plus: "\f1b8";
$ui-graphics: "\f1b9";
$ui-happy: "\f1ba";
$ui-hashtag: "\f1bb";
$ui-health: "\f1bc";
$ui-helmet-bike: "\f1bd";
$ui-help: "\f1be";
$ui-hide: "\f1bf";
$ui-historical-transfer: "\f1c0";
$ui-history: "\f1c1";
$ui-hold: "\f1c2";
$ui-holidays: "\f1c3";
$ui-home: "\f1c4";
$ui-hot: "\f1c5";
$ui-hotel: "\f1c6";
$ui-hpd: "\f1c7";
$ui-ice-cream: "\f1c8";
$ui-id-card: "\f1c9";
$ui-identified-call: "\f1ca";
$ui-illustration: "\f1cb";
$ui-images: "\f1cc";
$ui-incoming-call: "\f1cd";
$ui-info: "\f1ce";
$ui-instagram-simple: "\f1cf";
$ui-instagram: "\f1d0";
$ui-insurance: "\f1d1";
$ui-international: "\f1d2";
$ui-investment: "\f1d3";
$ui-jewelry: "\f1d4";
$ui-jpg: "\f1d5";
$ui-keyboard: "\f1d6";
$ui-kitchen: "\f1d7";
$ui-land: "\f1d8";
$ui-language: "\f1d9";
$ui-law: "\f1da";
$ui-leaf: "\f1db";
$ui-letter-a: "\f1dc";
$ui-letter-b: "\f1dd";
$ui-letter-c: "\f1de";
$ui-letter-d: "\f1df";
$ui-letter-e: "\f1e0";
$ui-letter-f: "\f1e1";
$ui-letter-g: "\f1e2";
$ui-letter-h: "\f1e3";
$ui-letter-i: "\f1e4";
$ui-letter-j: "\f1e5";
$ui-letter-k: "\f1e6";
$ui-letter-l: "\f1e7";
$ui-letter-m: "\f1e8";
$ui-letter-n: "\f1e9";
$ui-letter-nn: "\f1ea";
$ui-letter-o: "\f1eb";
$ui-letter-p: "\f1ec";
$ui-letter-q: "\f1ed";
$ui-letter-r: "\f1ee";
$ui-letter-s: "\f1ef";
$ui-letter-t: "\f1f0";
$ui-letter-u: "\f1f1";
$ui-letter-v: "\f1f2";
$ui-letter-w: "\f1f3";
$ui-letter-x: "\f1f4";
$ui-letter-y: "\f1f5";
$ui-letter-z: "\f1f6";
$ui-lighthouse: "\f1f7";
$ui-like: "\f1f8";
$ui-limits: "\f1f9";
$ui-link: "\f1fa";
$ui-linkedin-simple: "\f1fb";
$ui-linkedin: "\f1fc";
$ui-list-view: "\f1fd";
$ui-living-room: "\f1fe";
$ui-loan-dollar: "\f1ff";
$ui-loan-euro: "\f200";
$ui-lock: "\f201";
$ui-look-up: "\f202";
$ui-lost-call: "\f203";
$ui-man: "\f204";
$ui-map: "\f205";
$ui-max-min-screen: "\f206";
$ui-medical-kit: "\f207";
$ui-menu: "\f208";
$ui-merge: "\f209";
$ui-microphone: "\f20a";
$ui-milk: "\f20b";
$ui-missed-call: "\f20c";
$ui-mix-cloud-simple: "\f20d";
$ui-mix-cloud: "\f20e";
$ui-mixed: "\f20f";
$ui-mobile-cash-dollar: "\f210";
$ui-mobile-cash-euro: "\f211";
$ui-mobile-off: "\f212";
$ui-mobile-payment: "\f213";
$ui-mobile-print: "\f214";
$ui-mobile: "\f215";
$ui-more: "\f216";
$ui-motorcycle-garage: "\f217";
$ui-motorcycle: "\f218";
$ui-my-expenses: "\f219";
$ui-my-location: "\f21a";
$ui-my-profile: "\f21b";
$ui-my-projects: "\f21c";
$ui-near-me: "\f21d";
$ui-net-cash: "\f21e";
$ui-new-client: "\f21f";
$ui-next: "\f220";
$ui-nfc-disconnect: "\f221";
$ui-nfc: "\f222";
$ui-no-audio: "\f223";
$ui-no-client: "\f224";
$ui-no-draw: "\f225";
$ui-no-interest: "\f226";
$ui-no-smoking: "\f227";
$ui-nursery-room: "\f228";
$ui-occupationally-active: "\f229";
$ui-official-rates: "\f22a";
$ui-on-off: "\f22b";
$ui-one-click: "\f22c";
$ui-open-outside: "\f22d";
$ui-order: "\f22e";
$ui-organization: "\f22f";
$ui-outgoing-call: "\f230";
$ui-pacifier: "\f231";
$ui-paddle: "\f232";
$ui-partner: "\f233";
$ui-passport: "\f234";
$ui-pasta-factory: "\f235";
$ui-pause: "\f236";
$ui-pay-sheet: "\f237";
$ui-pdf: "\f238";
$ui-periodical-transfer: "\f239";
$ui-pet-shop: "\f23a";
$ui-phishing: "\f23b";
$ui-phone-banned: "\f23c";
$ui-photo-login: "\f23d";
$ui-physiotherapy: "\f23e";
$ui-pic: "\f23f";
$ui-pill: "\f240";
$ui-pin-pad-connect: "\f241";
$ui-pin-pad-disconnected: "\f242";
$ui-pinterest-simple: "\f243";
$ui-pinterest: "\f244";
$ui-place: "\f245";
$ui-play-simple: "\f246";
$ui-play-store: "\f247";
$ui-play: "\f248";
$ui-point: "\f249";
$ui-portfolio: "\f24a";
$ui-post-mail: "\f24b";
$ui-pound-sterling: "\f24c";
$ui-presentation: "\f24d";
$ui-press: "\f24e";
$ui-previous-appointment: "\f24f";
$ui-print: "\f250";
$ui-privacy-and-data: "\f251";
$ui-prohibited-alcohol: "\f252";
$ui-prohibited-headphones: "\f253";
$ui-prohibited-zigzag: "\f254";
$ui-promotion: "\f255";
$ui-qr: "\f256";
$ui-quality-funds: "\f257";
$ui-quizz: "\f258";
$ui-quotes: "\f259";
$ui-radio: "\f25a";
$ui-ray: "\f25b";
$ui-receipt-euro: "\f25c";
$ui-receipt-ko: "\f25d";
$ui-receipt-ok: "\f25e";
$ui-receipt: "\f25f";
$ui-receive-money: "\f260";
$ui-recognition-eye: "\f261";
$ui-recycle: "\f262";
$ui-rent: "\f263";
$ui-reply: "\f264";
$ui-reporting: "\f265";
$ui-rescue: "\f266";
$ui-restaurant: "\f267";
$ui-retail: "\f268";
$ui-retirement: "\f269";
$ui-return-money: "\f26a";
$ui-return: "\f26b";
$ui-retweet: "\f26c";
$ui-rewards: "\f26d";
$ui-ric: "\f26e";
$ui-right-location: "\f26f";
$ui-right: "\f270";
$ui-risk-culture: "\f271";
$ui-room: "\f272";
$ui-rotate-screen: "\f273";
$ui-sales: "\f274";
$ui-save-for-later: "\f275";
$ui-save-stock: "\f276";
$ui-save-up: "\f277";
$ui-savings: "\f278";
$ui-scam: "\f279";
$ui-school-supplies: "\f27a";
$ui-scissors: "\f27b";
$ui-search: "\f27c";
$ui-searching-location: "\f27d";
$ui-seatbelt: "\f27e";
$ui-security-camera: "\f27f";
$ui-security-token: "\f280";
$ui-see-cvv: "\f281";
$ui-segway: "\f282";
$ui-self-assessment: "\f283";
$ui-selfie-and-go: "\f284";
$ui-send-money: "\f285";
$ui-send: "\f286";
$ui-services: "\f287";
$ui-settings: "\f288";
$ui-settlement: "\f289";
$ui-share: "\f28a";
$ui-shop: "\f28b";
$ui-shopping: "\f28c";
$ui-show: "\f28d";
$ui-simulator: "\f28e";
$ui-sites: "\f28f";
$ui-skate: "\f290";
$ui-slideshare-simple: "\f291";
$ui-slideshare: "\f292";
$ui-small-glass: "\f293";
$ui-sms: "\f294";
$ui-snapchat: "\f295";
$ui-snow-tires: "\f296";
$ui-sound-cloud-simple: "\f297";
$ui-sound-cloud: "\f298";
$ui-spotify-simple: "\f299";
$ui-spotify: "\f29a";
$ui-stairs: "\f29b";
$ui-stock: "\f29c";
$ui-stop-charge-card: "\f29d";
$ui-stop: "\f29e";
$ui-storage-room: "\f29f";
$ui-strategy: "\f2a0";
$ui-subscription: "\f2a1";
$ui-substract: "\f2a2";
$ui-subway: "\f2a3";
$ui-sun: "\f2a4";
$ui-supermarket: "\f2a5";
$ui-support: "\f2a6";
$ui-swimming-pool: "\f2a7";
$ui-tablet: "\f2a8";
$ui-tasks: "\f2a9";
$ui-taxes: "\f2aa";
$ui-team: "\f2ab";
$ui-telephone: "\f2ac";
$ui-tempered: "\f2ad";
$ui-theater: "\f2ae";
$ui-ticket-bbva-office: "\f2af";
$ui-ticket: "\f2b0";
$ui-tiled-view: "\f2b1";
$ui-token: "\f2b2";
$ui-tools: "\f2b3";
$ui-top-arrow: "\f2b4";
$ui-toys: "\f2b5";
$ui-tpv: "\f2b6";
$ui-traffic-light: "\f2b7";
$ui-transaction: "\f2b8";
$ui-transfer-to-account: "\f2b9";
$ui-transfer-to-card: "\f2ba";
$ui-transfer: "\f2bb";
$ui-trash: "\f2bc";
$ui-travel-expenses: "\f2bd";
$ui-travel: "\f2be";
$ui-tumblr-simple: "\f2bf";
$ui-tumblr: "\f2c0";
$ui-turn-box: "\f2c1";
$ui-tv: "\f2c2";
$ui-twitter-simple: "\f2c3";
$ui-twitter: "\f2c4";
$ui-unfold: "\f2c5";
$ui-unique-key: "\f2c6";
$ui-unlock: "\f2c7";
$ui-up-cloud: "\f2c8";
$ui-up: "\f2c9";
$ui-update: "\f2ca";
$ui-upload: "\f2cb";
$ui-usd: "\f2cc";
$ui-very-hot: "\f2cd";
$ui-video-chat: "\f2ce";
$ui-video-game: "\f2cf";
$ui-vimeo-simple: "\f2d0";
$ui-vimeo: "\f2d1";
$ui-virtual-email: "\f2d2";
$ui-virtual-reality: "\f2d3";
$ui-walking-directions: "\f2d4";
$ui-wallet: "\f2d5";
$ui-warning: "\f2d6";
$ui-washing-machine: "\f2d7";
$ui-watch: "\f2d8";
$ui-weather: "\f2d9";
$ui-wellness: "\f2da";
$ui-whatsapp: "\f2db";
$ui-wheel: "\f2dc";
$ui-wifi-off: "\f2dd";
$ui-wifi: "\f2de";
$ui-wiki-metrics: "\f2df";
$ui-woman: "\f2e0";
$ui-women-shoe: "\f2e1";
$ui-word: "\f2e2";
$ui-wrong-location: "\f2e3";
$ui-wrong: "\f2e4";
$ui-xml: "\f2e5";
$ui-yen: "\f2e6";
$ui-youtube-simple: "\f2e7";
$ui-youtube: "\f2e8";
