<div class="wrapper">
    <aside aria-hidden="true" class="animations__menu megamenu__container invisible" data-component="megamenu" data-component-id="eea1e456-6ca0-484f-8238-934cd91e2733" id="megamenu__aside" itemscope="" itemtype="http://www.schema.org/SiteNavigationElement">
        <div class="megamenu__fixed">
            <div class="megamenu__navigation__container">
                <div class="megamenu__navigation accordion--mobile" itemscope="" itemtype="http://www.schema.org/SiteNavigationElement">
                    <div class="megamenu__flyout--nonmobile">
                        <nav class="megamenu__flyout ">
                            <ul class="megamenu__flyout__list" itemscope="" itemtype="http://schema.org/ListItem" role="list">
                                 <li class="megamenu__navigation__list__item">
                                    <a (click)="cleanMegaMenu()" routerLink="/edicion-documentos-parametria"  class="megamenu__navigation__link megamenu__navigation__primary accordion__list__item__heading" tabindex="-1">
                                        <span class="megamenu__navigation__text" itemprop="name">
                                            Edición de documentos parámetria
                                        </span>
                                        <i aria-hidden="true" class="ui-next white">
                                        </i>
                                    </a>
                                </li>
                                <li class="megamenu__navigation__list__item">
                                    <a (click)="cleanMegaMenu()" routerLink="/autorizaciones"  class="megamenu__navigation__link megamenu__navigation__primary accordion__list__item__heading" tabindex="-1">
                                        <span class="megamenu__navigation__text" itemprop="name">
                                            Edición de autorizaciones
                                        </span>
                                        <i aria-hidden="true" class="ui-next white">
                                        </i>
                                    </a>
                                </li>
                                <li class="megamenu__navigation__list__item">
                                    <a (click)="cleanMegaMenu()" routerLink="/asignacion-perfiles" class="megamenu__navigation__link megamenu__navigation__primary accordion__list__item__heading" >
                                        <span class="megamenu__navigation__text">
                                            Asignación perfiles usuario
                                        </span>
                                        <i aria-hidden="true" class="ui-next white"></i>
                                    </a>
                                </li>
                                 <li class="megamenu__navigation__list__item">
                                    <a (click)="cleanMegaMenu()" routerLink="/edicion-documentos-electronicos"  class="megamenu__navigation__link megamenu__navigation__primary accordion__list__item__heading" tabindex="-1">
                                        <span class="megamenu__navigation__text" itemprop="name">
                                            Edición ducumentos electrómnicos
                                        </span>
                                        <i aria-hidden="true" class="ui-next white">
                                        </i>
                                    </a>
                                </li>
                                <li class="megamenu__navigation__list__item">
                                    <a (click)="cleanMegaMenu()" routerLink="/editar-pre-oferta"  class="megamenu__navigation__link megamenu__navigation__primary accordion__list__item__heading" tabindex="-1">
                                        <span class="megamenu__navigation__text" itemprop="name">
                                            Editar formato inforamción pre-oferta
                                        </span>
                                        <i aria-hidden="true" class="ui-next white">
                                        </i>
                                    </a>
                                </li>
                                <li class="megamenu__navigation__list__item">
                                    <a (click)="cleanMegaMenu()" routerLink="/editar-oferta"  class="megamenu__navigation__link megamenu__navigation__primary accordion__list__item__heading" tabindex="-1">
                                        <span class="megamenu__navigation__text" itemprop="name">
                                            Editar formato inforamción oferta
                                        </span>
                                        <i aria-hidden="true" class="ui-next white">
                                        </i>
                                    </a>
                                </li>
                               <li class="megamenu__navigation__list__item">
                                    <a (click)="cleanMegaMenu()" routerLink="/preguntas-de-control"  class="megamenu__navigation__link megamenu__navigation__primary accordion__list__item__heading" tabindex="-1">
                                        <span class="megamenu__navigation__text" itemprop="name">
                                            Edición de preguntas de control
                                        </span>
                                        <i aria-hidden="true" class="ui-next white">
                                        </i>
                                    </a>
                                </li>
                                <li class="megamenu__navigation__list__item">
                                    <a (click)="cleanMegaMenu()" routerLink="/candidatos"  class="megamenu__navigation__link megamenu__navigation__primary accordion__list__item__heading" tabindex="-1">
                                        <span class="megamenu__navigation__text" itemprop="name">
                                            Dar de baja candidatos > a 60 dias
                                        </span>
                                        <i aria-hidden="true" class="ui-next white">
                                        </i>
                                    </a>
                                </li>
                                 <li class="megamenu__navigation__list__item">
                                    <a (click)="cleanMegaMenu()" routerLink="/home"  class="megamenu__navigation__link megamenu__navigation__primary accordion__list__item__heading" tabindex="-1">
                                        <span class="megamenu__navigation__text" itemprop="name">
                                            Cerrar sesión
                                        </span>
                                        <i aria-hidden="true" class="ui-close white">
                                        </i>
                                    </a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </aside>
</div>