<nav class="navigation">
  <div class="container" style="max-height: 72px">
    <div class="col-4 col-tb-8 col-sm-12 col-lg-12 col-xl-12"  style="max-height: 72px">

      <div class="navigation__sections">
        <div class="navigation__logo" style="flex: none;">
          
          <section class="logos">
              <a routerLink="/home"class="icon-logo-bbva" aria-label="BBVA logo"></a>
          </section>
        </div>

        <div class="navigation__list" style="justify-content: flex-start;">
          <ul>
            <li style="padding-left: 16px"> 
              <a class="active user-name" style="cursor: default;">Pepito Rodriges / Administrador BANCO</a>
            </li>
          </ul>
        </div>
        <div class="navigation__list">
          <ul>
            <li><span (click)="searchPrincipal('search__aside')" class="ui-search white" style="cursor: pointer;"><a class="user-name search" style="cursor: default;">Buscar Candidato</a></span></li>
          </ul>
        </div>

        <li class="header__actions__list header__actions--tablet-right" style="list-style: none;padding: 16px;">
          <div class="menu-icon" style="padding-top: 16px">
             <span class="links--alternate" style="cursor: default;">Menú</span>
             <a (click)="menuPrincipal('megamenu__aside')" data-toggle-menu="2" style="padding-left: 8px;cursor: pointer;"><span class="ui-menu white"></span></a>
          </div>
        </li>
      </div>

      <div class="mobile-header">
        <div class="menu-icon">
          <a href="#" data-toggle-menu="2"><span class="ui-menu"></span></a>
        </div>
        <section class="logos">
            <a href="https://www.bbva.com" class="icon-logo-bbva" aria-label="BBVA logo"></a>
        </section>
        <div class="navigation__login">
          <span class="ui-profile"></span>
          <ul>
            <li> <a href="#" class="links links--alternate login">Log in</a> </li>
            <li> <a href="#" class="links links--alternate">Sign Up</a> </li>
          </ul>
        </div>
      </div>



      <nav class="mobile-menu" data-mobile-menu="2">
        <ul class="accordion" data-accordion-id="9287">
          <li class="accordion__item">
            <button class="accordion__header">
              TITLE
              <i class="ui-unfold"></i>
            </button>
            <div class="accordion__content">
              <a class="links links--alternate" href="#">Title</a>
              <a class="links links--alternate" href="#">Title</a>
              <a class="links links--alternate" href="#">Title</a>
            </div>
          </li>
          <li class="accordion__item">
            <button class="accordion__header">
              TITLE
              <i class="ui-unfold"></i>
            </button>
            <div class="accordion__content">
              <a class="links links--alternate" href="#">Title</a>
              <a class="links links--alternate" href="#">Title</a>
              <a class="links links--alternate" href="#">Title</a>
            </div>
          </li>
          <li class="accordion__item">
            <button class="accordion__header">
              TITLE
              <i class="ui-unfold"></i>
            </button>
            <div class="accordion__content">
              <a class="links links--alternate" href="#">Title</a>
              <a class="links links--alternate" href="#">Title</a>
              <a class="links links--alternate" href="#">Title</a>
            </div>
          </li>
          <li class="accordion__item">
            <button class="accordion__header">
              TITLE
              <i class="ui-unfold"></i>
            </button>
            <div class="accordion__content">
              <a class="links links--alternate" href="#">Title</a>
              <a class="links links--alternate" href="#">Title</a>
              <a class="links links--alternate" href="#">Title</a>
            </div>
          </li>
        </ul>
        <ul class="utility-mobile">
          <li> <a href="#" class="links links--alternate">Title</a> </li>
          <li> <a href="#" class="links links--alternate">Title</a> </li>
          <li> <a href="#" class="links links--alternate">Title</a> </li>
          <li> <a href="#" class="links links--alternate">Title</a> </li>
          <li> <a href="#" class="links links--alternate">Title</a> </li>
          <li> <a href="#" class="links links--alternate">Title</a> </li>
          <li> <a href="#" class="links links--alternate">Title</a> </li>
        </ul>
      </nav>
    </div>
  </div>

</nav>

<app-search-desktop></app-search-desktop>

<div class="wrapper">
    <aside aria-hidden="true" class="animations__menu megamenu__container invisible" data-component="megamenu" data-component-id="eea1e456-6ca0-484f-8238-934cd91e2733" id="megamenu__aside" itemscope="" itemtype="http://www.schema.org/SiteNavigationElement">
        <div class="megamenu__fixed">
            <div class="megamenu__navigation__container">
                <div class="megamenu__navigation accordion--mobile" itemscope="" itemtype="http://www.schema.org/SiteNavigationElement">
                    <div class="megamenu__flyout--nonmobile">
                        <nav class="megamenu__flyout ">
                            <ul class="megamenu__flyout__list" itemscope="" itemtype="http://schema.org/ListItem" role="list">
                                <li class="megamenu__navigation__list__item" data-component="accordion" data-component-id="360f78a1-a319-4372-a273-d1e5d8c4653c" data-component-params='{"route": false, "viewport":["tablet", "mobile"]}' role="listitem">
                                    <a aria-controls="flyout_secondary_6cbbe198-6cb3-4888-850c-ea11614cb09d" aria-expanded="false" class="megamenu__navigation__link megamenu__navigation__primary accordion__list__item__heading" data-accordion-toogle="" data-menu-expand="cuentas" href="" id="flyout_primary_87ff1e39-0a71-4333-8df1-9e9d814bc1fb" role="button" tabindex="-1">
                                        <span class="megamenu__navigation__text" itemprop="name">
                                            Edición de ducumentos parámetria
                                        </span>
                                        <i aria-hidden="true" class="ui-next white">
                                        </i>
                                    </a>
                                </li>
                                <li class="megamenu__navigation__list__item" data-component="accordion" data-component-id="360f78a1-a319-4372-a273-d1e5d8c4653c" data-component-params='{"route": false, "viewport":["tablet", "mobile"]}' role="listitem">
                                    <a aria-controls="flyout_secondary_6cbbe198-6cb3-4888-850c-ea11614cb09d" aria-expanded="false" class="megamenu__navigation__link megamenu__navigation__primary accordion__list__item__heading" data-accordion-toogle="" data-menu-expand="cuentas" href="" id="flyout_primary_87ff1e39-0a71-4333-8df1-9e9d814bc1fb" role="button" tabindex="-1">
                                        <span class="megamenu__navigation__text" itemprop="name">
                                            Edición de autorizaciones
                                        </span>
                                           <i aria-hidden="true" class="ui-next white">
                                        </i>
                                    </a>
                                </li>
                                <li class="megamenu__navigation__list__item" data-component="accordion" data-component-id="360f78a1-a319-4372-a273-d1e5d8c4653c" data-component-params='{"route": false, "viewport":["tablet", "mobile"]}' role="listitem">
                                    <a aria-controls="flyout_secondary_6cbbe198-6cb3-4888-850c-ea11614cb09d" aria-expanded="false" class="megamenu__navigation__link megamenu__navigation__primary accordion__list__item__heading" data-accordion-toogle="" data-menu-expand="cuentas" href="" id="flyout_primary_87ff1e39-0a71-4333-8df1-9e9d814bc1fb" role="button" tabindex="-1">
                                        <span class="megamenu__navigation__text" itemprop="name">
                                            Asignación perfiles usuario
                                        </span>
                                           <i aria-hidden="true" class="ui-next white">
                                        </i>
                                    </a>
                                </li>
                                <li class="megamenu__navigation__list__item" data-component="accordion" data-component-id="360f78a1-a319-4372-a273-d1e5d8c4653c" data-component-params='{"route": false, "viewport":["tablet", "mobile"]}' role="listitem">
                                    <a aria-controls="flyout_secondary_6cbbe198-6cb3-4888-850c-ea11614cb09d" aria-expanded="false" class="megamenu__navigation__link megamenu__navigation__primary accordion__list__item__heading" data-accordion-toogle="" data-menu-expand="cuentas" href="" id="flyout_primary_87ff1e39-0a71-4333-8df1-9e9d814bc1fb" role="button" tabindex="-1">
                                        <span class="megamenu__navigation__text" itemprop="name">
                                            Edición ducumentos electrómnicos
                                        </span>
                                          <i aria-hidden="true" class="ui-next white">
                                        </i>
                                    </a>
                                </li>
                                <li class="megamenu__navigation__list__item" data-component="accordion" data-component-id="360f78a1-a319-4372-a273-d1e5d8c4653c" data-component-params='{"route": false, "viewport":["tablet", "mobile"]}' role="listitem">
                                    <a aria-controls="flyout_secondary_6cbbe198-6cb3-4888-850c-ea11614cb09d" aria-expanded="false" class="megamenu__navigation__link megamenu__navigation__primary accordion__list__item__heading" data-accordion-toogle="" data-menu-expand="cuentas" href="" id="flyout_primary_87ff1e39-0a71-4333-8df1-9e9d814bc1fb" role="button" tabindex="-1">
                                        <span class="megamenu__navigation__text" itemprop="name">
                                            Editar formato inforamción pre-oferta
                                        </span>
                                          <i aria-hidden="true" class="ui-next white">
                                        </i>
                                    </a>
                                </li>
                                <li class="megamenu__navigation__list__item" data-component="accordion" data-component-id="360f78a1-a319-4372-a273-d1e5d8c4653c" data-component-params='{"route": false, "viewport":["tablet", "mobile"]}' role="listitem">
                                    <a aria-controls="flyout_secondary_6cbbe198-6cb3-4888-850c-ea11614cb09d" aria-expanded="false" class="megamenu__navigation__link megamenu__navigation__primary accordion__list__item__heading" data-accordion-toogle="" data-menu-expand="cuentas" href="" id="flyout_primary_87ff1e39-0a71-4333-8df1-9e9d814bc1fb" role="button" tabindex="-1">
                                        <span class="megamenu__navigation__text" itemprop="name">
                                            Editar formato inforamción oferta
                                        </span>
                                           <i aria-hidden="true" class="ui-next white">
                                        </i>
                                    </a>
                                </li>
                                <li class="megamenu__navigation__list__item" data-component="accordion" data-component-id="360f78a1-a319-4372-a273-d1e5d8c4653c" data-component-params='{"route": false, "viewport":["tablet", "mobile"]}' role="listitem">
                                    <a aria-controls="flyout_secondary_6cbbe198-6cb3-4888-850c-ea11614cb09d" aria-expanded="false" class="megamenu__navigation__link megamenu__navigation__primary accordion__list__item__heading" data-accordion-toogle="" data-menu-expand="cuentas" href="" id="flyout_primary_87ff1e39-0a71-4333-8df1-9e9d814bc1fb" role="button" tabindex="-1">
                                        <span class="megamenu__navigation__text" itemprop="name">
                                            Edición de preguntas de control
                                        </span>
                                           <i aria-hidden="true" class="ui-next white">
                                        </i>
                                    </a>
                                </li>
                                <li class="megamenu__navigation__list__item" data-component="accordion" data-component-id="360f78a1-a319-4372-a273-d1e5d8c4653c" data-component-params='{"route": false, "viewport":["tablet", "mobile"]}' role="listitem">
                                    <a aria-controls="flyout_secondary_6cbbe198-6cb3-4888-850c-ea11614cb09d" aria-expanded="false" class="megamenu__navigation__link megamenu__navigation__primary accordion__list__item__heading" data-accordion-toogle="" data-menu-expand="cuentas" href="" id="flyout_primary_87ff1e39-0a71-4333-8df1-9e9d814bc1fb" role="button" tabindex="-1">
                                        <span class="megamenu__navigation__text" itemprop="name">
                                            Dar de baja candidatos > a 60 dias
                                        </span>
                                           <i aria-hidden="true" class="ui-next white">
                                        </i>
                                    </a>
                                </li>
                                <li class="megamenu__navigation__list__item" data-component="accordion" data-component-id="360f78a1-a319-4372-a273-d1e5d8c4653c" data-component-params='{"route": false, "viewport":["tablet", "mobile"]}' role="listitem">
                                    <a aria-controls="flyout_secondary_6cbbe198-6cb3-4888-850c-ea11614cb09d" aria-expanded="false" class="megamenu__navigation__link megamenu__navigation__primary accordion__list__item__heading" data-accordion-toogle="" data-menu-expand="cuentas" href="" id="flyout_primary_87ff1e39-0a71-4333-8df1-9e9d814bc1fb" role="button" tabindex="-1">
                                        <span class="megamenu__navigation__text" itemprop="name">
                                            Cerrar sesión
                                        </span>
                                           <i aria-hidden="true" class="ui-close white">
                                        </i>
                                    </a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </aside>
</div>