<nav class="navigation">
  <div class="container" style="max-height: 72px">
    <div class="col-4 col-tb-8 col-sm-12 col-lg-12 col-xl-12"  style="max-height: 72px">

      <div class="navigation__sections">
        <div class="navigation__logo" style="flex: none;">
          
          <section class="logos">
              <a routerLink="/home"class="icon-logo-bbva" aria-label="BBVA logo"></a>
          </section>
        </div>

        <div class="navigation__list" style="justify-content: flex-start;">
          <ul>
            <li style="padding-left: 16px"> 
              <a class="active user-name" style="cursor: default;">Pepito Rodriges / Administrador BANCO</a>
            </li>
          </ul>
        </div>
        <div class="navigation__list">
          <ul>
            <li><span (click)="searchPrincipal('search__aside')" class="ui-search white" style="cursor: pointer;"><a class="user-name search" style="cursor: default;">Buscar Candidato</a></span></li>
          </ul>
        </div>

        <li class="header__actions__list header__actions--tablet-right" style="list-style: none;padding: 16px;">
          <div class="menu-icon" style="padding-top: 16px">
             <span class="links--alternate" style="cursor: default;">Menú</span>
             <a (click)="menuPrincipal('megamenu__aside')" data-toggle-menu="2" style="padding-left: 8px;cursor: pointer;"><span class="ui-menu white"></span></a>
          </div>
        </li>
      </div>

      <div class="mobile-header">
        <div class="menu-icon">
          <a href="#" data-toggle-menu="2"><span class="ui-menu"></span></a>
        </div>
        <section class="logos">
            <a href="https://www.bbva.com" class="icon-logo-bbva" aria-label="BBVA logo"></a>
        </section>
        <div class="navigation__login">
          <span class="ui-profile"></span>
          <ul>
            <li> <a href="#" class="links links--alternate login">Log in</a> </li>
            <li> <a href="#" class="links links--alternate">Sign Up</a> </li>
          </ul>
        </div>
      </div>



      <nav class="mobile-menu" data-mobile-menu="2">
        <ul class="accordion" data-accordion-id="9287">
          <li class="accordion__item">
            <button class="accordion__header">
              TITLE
              <i class="ui-unfold"></i>
            </button>
            <div class="accordion__content">
              <a class="links links--alternate" href="#">Title</a>
              <a class="links links--alternate" href="#">Title</a>
              <a class="links links--alternate" href="#">Title</a>
            </div>
          </li>
          <li class="accordion__item">
            <button class="accordion__header">
              TITLE
              <i class="ui-unfold"></i>
            </button>
            <div class="accordion__content">
              <a class="links links--alternate" href="#">Title</a>
              <a class="links links--alternate" href="#">Title</a>
              <a class="links links--alternate" href="#">Title</a>
            </div>
          </li>
          <li class="accordion__item">
            <button class="accordion__header">
              TITLE
              <i class="ui-unfold"></i>
            </button>
            <div class="accordion__content">
              <a class="links links--alternate" href="#">Title</a>
              <a class="links links--alternate" href="#">Title</a>
              <a class="links links--alternate" href="#">Title</a>
            </div>
          </li>
          <li class="accordion__item">
            <button class="accordion__header">
              TITLE
              <i class="ui-unfold"></i>
            </button>
            <div class="accordion__content">
              <a class="links links--alternate" href="#">Title</a>
              <a class="links links--alternate" href="#">Title</a>
              <a class="links links--alternate" href="#">Title</a>
            </div>
          </li>
        </ul>
        <ul class="utility-mobile">
          <li> <a href="#" class="links links--alternate">Title</a> </li>
          <li> <a href="#" class="links links--alternate">Title</a> </li>
          <li> <a href="#" class="links links--alternate">Title</a> </li>
          <li> <a href="#" class="links links--alternate">Title</a> </li>
          <li> <a href="#" class="links links--alternate">Title</a> </li>
          <li> <a href="#" class="links links--alternate">Title</a> </li>
          <li> <a href="#" class="links links--alternate">Title</a> </li>
        </ul>
      </nav>
    </div>
  </div>

</nav>

<app-search-desktop></app-search-desktop>

<app-megamenu></app-megamenu>
