<div class="search search--desktop wrapper">
    <div class="search__base" id="search__aside" style="visibility: hidden;">
        <div class="container" id="serach_principal">
            <div class="container search__bar">
                <form action="" class="search__form" style="display: flex;margin-left: 250px;">
                     <div class="opcion_search" style="display: flex; margin-right: 90px;">
                       <a  routerLink="/buscar-candidato" class="ui-my-profile white bucador"   (click)="searchPrincipalOpcion('id_card')"  style="font-size: 22px;"></a>
                       <a  routerLink="/buscar-candidato" class="text_option"   (click)="searchPrincipalOpcion('id_card')">Busqueda por Nombre</a>
                    </div>
                     <div class="opcion_search" style="display: flex;">
                       <a  routerLink="/buscar-candidato" class="ui-my-profile white bucador"   (click)="searchPrincipalOpcion('my_profile')"  style="font-size: 22px;"></a>
                       <a  routerLink="/buscar-candidato" class="text_option"   (click)="searchPrincipalOpcion('my_profile')">Busqueda por Identificación</a>
                    </div>
                    <a  routerLink="/home" class="ui-close white bucador"   (click)="closeSearch('search__aside')"  ></a>
                </form>
            </div>
        </div>
        <div class="container" id="serach_secundario">
            <div class="container search__bar">
                <app-busqueda>
                </app-busqueda>
            </div>
        </div>
    </div>
</div>