<div class="container">
    <div class="navigation__options">
        <div style="width: 47px"><a class="ui-my-profile white bucador" style="font-size: 22px;height: 72px;cursor: pointer;" (click)="my_profile()" ></a></div>
        <div class="form__item input__wrapper" id="my_profile" style="margin-left: 0px">
            <input class="search__input search__input--empty" name="search" placeholder="Escriba el nombre" tabindex="1" type="text" style="margin-left: 0px"/>
            <i class="search__icon"></i>
        </div>
        <div>
            <div class="linea"></div>
        </div>
        <div style="width: 47px;"><a class="ui-id-card white bucador" style="font-size: 22px;height: 72px;cursor: pointer;" (click)="id_card()" ></a></div>
        <div class="form__item input__wrapper" id="id_card" style="margin-left: 0px">
            <input class="search__input search__input--empty" name="search" placeholder="Escriba la identificación" tabindex="1" type="text" style="margin-left: 0px"/>
            <i class="search__icon"></i>
        </div>
        <a class="ui-close white bucador" routerLink="/home"></a>
    </div>
</div>
