<div class="container">
    <div class="navigation__options">
        <div style="width: 47px">
            <a (click)="my_profile()" class="ui-my-profile white bucador" style="font-size: 22px;height: 72px;cursor: pointer;">
            </a>
        </div>
        <div class="form__item input__wrapper" id="my_profile" style="margin-left: 0px">
            <input class="search__input search__input--empty" name="search" placeholder="Escriba el nombre" style="margin-left: 0px" tabindex="1" type="text"/>
            <i class="search__icon">
            </i>
        </div>
        <div>
            <div class="linea">
            </div>
        </div>
        <div style="width: 47px;">
            <a (click)="id_card()" class="ui-id-card white bucador" style="font-size: 22px;height: 72px;cursor: pointer;">
            </a>
        </div>
        <div class="form__item input__wrapper" id="id_card" style="margin-left: 0px">
            <input class="search__input search__input--empty" name="search" placeholder="Escriba la identificación" style="margin-left: 0px" tabindex="1" type="text"/>
            <i class="search__icon">
            </i>
        </div>
        <a  routerLink="/home" class="ui-close white bucador"   (click)="closeSearch('search__aside')"  ></a>
    </div>
</div>
