
.demo-bars {
    position: relative;

    h3 {
        margin: 40px 0;
    }

    h4 {
        margin: 32px 0;
    }

    a.links {
            position: absolute;
            right: 0;
            top: -8px;
            background: #1b71b8;
            padding: 8px;
    }

    .demo-height-space {
      height: 5000px;
    }

}



