<div class="bs-botton" >
	<div class="row btn-defaults">
		<div class="col-mb-4 col-tb-4 col-sm-4 col-lg-4 col-xl-4" style="margin:auto;">
			<p>
				<a class="button button--white button--short"  role="button" title="active">
					Atrás
				</a>
			</p>
		</div>
		<div class="col-mb-4 col-tb-4 col-sm-4 col-lg-4 col-xl-4" style="margin:auto;">

			<p>
				<a class="button button--primary button--short" role="button" title="active">
					Guardar
				</a>
			</p>
		</div>
		<div class="col-mb-4 col-tb-4 col-sm-4 col-lg-4 col-xl-4" style="margin:auto;">
			<p>
				<a class="button button--aqua button--short"  role="button" title="active">
					Siguiente
				</a>
			</p>
		</div>
	</div>
</div>