
<div class="container bodyContainer">
	<app-registro-header [origen]=4></app-registro-header>
</div>
<div class="dividers__container">
	<hr class="dividers__line--whiteBg">
</div>
<div class="container">
	<div class="body-tap">
		<p class="BBVABentonSansLight-Regular titulo1">
			Preguntas de control
		</p>

		<p class="BBVABentonSans-BooK titulo2">
			heckli makes it easy to get things done, and get things done right. Make personal checklists, workflows and team processes.Checkli makes it easy to get things done, and get things done right. Make personal checklists, workflows and team processes
		</p>


		<div class="tables" style="margin-bottom: 30px;">
			<section class="comparison-table comparison-table__simple container">
				<table>
					<tbody>
						<tr *ngFor="let item of items; let i = index">
							<td style="text-align: initial">{{item.value}}</td>
							<td style="width: 34px;"><app-checkboxes [id]=i></app-checkboxes></td>
						</tr>
					</tbody>
				</table>
			</section>
		</div>
		<div class="row">
			<div class="col-sm-4 center">
				<p>
					<a class="button button--blue button--short" title="Green button" (click)="onCreate()"	 role="button">Guardar</a>
				</p>
			</div>
		</div>
	</div>
</div>
