<div class="coronita bodyCoronita">
	<div class="container bodyContainer">
        <div class="breadcrumb__wrapper" style="background-color: #fff">
            <div class="container">
                <nav role="navigation" aria-label="breadcrumbs" class="breadcrumb__links">
                    <ul>
                        <li><a  routerLink="/administrador/home" >Inicio</a></li>
                        <li><p>Editar fromato información pre-oferta</p></li>
                    </ul>
                </nav>
            </div>
        </div>
        <div class="titulo-component">
            <div style="width: 100%">
                <a class="titulo-1">Editar fromato información pre-oferta</a>
            </div>
            <div style="width: 100%;text-align: end;">
                <a class="sutitulo-1" >Candidato nombre completo</a>
            </div>
        </div>
        <p>
            heckli makes it easy to get things done, and get things done right. Make personal checklists, workflows and team processes.Checkli makes it easy to get things done, and get things done right. Make personal checklists, workflows and team processes
        </p>
		<app-text-editor></app-text-editor>
		 <div class="bs-botton" >
            <div class="row btn-defaults">
                <div class="col-mb-4 col-tb-4 col-sm-4 col-lg-4 col-xl-4" style="margin:auto;">
                    
                </div>
                <div class="col-mb-4 col-tb-4 col-sm-4 col-lg-4 col-xl-4" style="margin:auto;">

                    <p>
                        <a class="button button--primary button--short" role="button" (click)="refresh()" title="active">
                            Guardar
                        </a>
                    </p>
                </div>
                <div class="col-mb-4 col-tb-4 col-sm-4 col-lg-4 col-xl-4" style="margin:auto;">
                    
                </div>
            </div>
        </div>

	</div>
</div>
