<div class="coronita c-vivienda">
    <div style="min-height: 800px;background-color: rgba(7, 33, 70,0.5);">
        <div class="producttitlesubtitlemarquee__container container white" style="text-align: center;max-width: 800px;padding-top: 120px;">
            <h4 class="tCenter titulo-1 ">
                Llegó la opotunidad de brillar
            </h4>
            <h1 class="producttitlesubtitlemarquee__title tCenter titulo-2" itemprop="name mainEntityOfPage category">
                ¡Bienvenido!
            </h1>
            <p class="tCenter titulo-3">
                Checkli makes it easy to get things done, and get things done right. Make personal checklists, workflows and team processes.Checkli makes it easy to get things done, and get things done right. Make personal checklists, workflows and team processes
            </p>
            <div class="bs-example" style="margin-top: 30px">
                <div class="row btn-defaults">
                    <div class="col-mb-4 col-tb-4 col-sm-4 col-lg-4 col-xl-4" style="margin:auto;">
                        <p>
                            <a class="button button--primary" href="#" role="button" title="active" routerLink="/edicion-documentos-parametria">
                                Empezar
                            </a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
