<div class="coronita bodyCoronita">
	<div class="container bodyContainer">
        <a class="titulo-1">
            Edición de documentos electrónicos
        </a>
        <p>
            heckli makes it easy to get things done, and get things done right. Make personal checklists, workflows and team processes.Checkli makes it easy to get things done, and get things done right. Make personal checklists, workflows and team processes
        </p>
        <div class="bs-example ">
            <div class="tables">
                <section class="comparison-table comparison-table__simple container">
                    <table>
                        <thead>
                            <tr>
                                <th style="width: 400px;">Nombre TIpo de contrato</th>
                                <th>Texto Tipo contrato</th>
                                <th style="width: 80px;">Ocultar</th>
                                <th style="width: 80px;"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let item of items| paginate: config; let i = index">
                                <td><div  id="{{ 'div_1_' + i }}" >{{item.documento}}</div><input type="text" id="{{ 'text_1_' + i }}" class="display_none" value='{{item.documento}}'></td>
                                <td>
                                    <div  class="initial" id="{{ 'div_2_' + i }}" >{{item.valor}}</div>
                                    <textarea id="{{ 'text_2_' + i }}" class="textarea" class="textarea display_none"  name="Comment" value='{{item.valor}}'></textarea>
                                    
                                </td>
                                <td>
                                    <div class="form__item input__wrapper">
                                        <input id="{{ 'ui_cb_' + i }}" class="checkbox" value="" type="checkbox"/>
                                        <label for="{{ 'ui_cb_' + i }}" class="input-control__label">
                                            <span class="input-control__box">
                                                <svg class="checkbox__check" width="18" height="14" viewBox="0 0 18 14" fill-rule="evenodd">
                                                    <path d="M16.667 0L6 10.61 1.333 5.97 0 7.295l6 5.968 1.405-1.398L18 1.325" />
                                                </svg>
                                            </span>
                                        </label>
                                    </div>
                                </td>
                                <td>
                                    <span class="ui-edit blue" (click)="edit_aut(i)"></span>
                                </td>
                            </tr>
                            <tr id="new_user" class="display_none">
                               <td><input/></td>
                               <td>
                                    <textarea class="textarea" class="textarea"  name="Comment"></textarea>
                                </td>
                                <td>
                                        <div class="form__item input__wrapper">
                                            <input id="ui_cb_10" class="checkbox" value="" type="checkbox"/>
                                            <label for="ui_cb_10" class="input-control__label">
                                                <span class="input-control__box">
                                                    <svg class="checkbox__check" width="18" height="14" viewBox="0 0 18 14" fill-rule="evenodd">
                                                        <path d="M16.667 0L6 10.61 1.333 5.97 0 7.295l6 5.968 1.405-1.398L18 1.325" />
                                                    </svg>
                                                </span>
                                            </label>
                                        </div>
                                    </td>
                               <td></td>
                           </tr>
                        </tbody>
                    </table>
                     <div class="new-client">
                        <span class="ui-add-notes blue" (click)="new_user_open()"></span>
                        <a class="text-new-client">Agregar tipo de Documento</a> 
                    </div>
                    

                    <pagination-template #p="paginationApi" [id]="config.id" (pageChange)="config.currentPage = $event">
                        <div class="custom-pagination">
                            <div class="ui-unfold rotate-left blue" [class.disabled]="p.isFirstPage()" *ngIf="!p.isFirstPage()" (click)="p.previous()"></div>
                            <div *ngFor="let page of p.pages" [class.current]="p.getCurrent() === page.value">
                                <a (click)="p.setCurrent(page.value)" *ngIf="p.getCurrent() !== page.value">
                                    <span>{{ page.label }}</span>
                                </a>
                                <div *ngIf="p.getCurrent() === page.value">
                                    <span>{{ page.label }}</span>
                                </div>
                            </div>
                            <div class="ui-unfold rotate-ringht blue" [class.disabled]="p.isLastPage()" *ngIf="!p.isLastPage()" (click)="p.next()"></div>
                        </div>
                    </pagination-template>
                </section>
            </div>
        </div>




		 <div class="bs-botton" >
            <div class="row btn-defaults">
                <div class="col-mb-4 col-tb-4 col-sm-4 col-lg-4 col-xl-4" style="margin:auto;">
                    <p>
                        <a class="button button--white button--short" [routerLink]="routerLinkPrevious" role="button" title="active">
                            Atrás
                        </a>
                    </p>
                </div>
                <div class="col-mb-4 col-tb-4 col-sm-4 col-lg-4 col-xl-4" style="margin:auto;">

                    <p>
                        <a class="button button--primary button--short" role="button" (click)="refresh()" title="active">
                            Guardar 
                        </a>
                    </p>
                </div>
                <div class="col-mb-4 col-tb-4 col-sm-4 col-lg-4 col-xl-4" style="margin:auto;">
                    <p>
                        <a class="button button--aqua button--short" [routerLink]="routerLinkNext" role="button" title="active">
                            Siguiente
                        </a>
                    </p>
                </div>
            </div>
        </div>


	</div>
</div>