.dropdown.input--bg-white-grey {
    width: 220px;
    margin: 25px 0px;
}
div#combo_0 {
    float: right;
    margin: 0px;
}
.form__item.input__wrapper {
    flex: none;
}
tr {
    td:first-child {
        text-align: left !important;
        padding-left: 15px;
    }
    th:first-child {
        text-align: left !important;
        padding-left: 15px;
    }
    th:nth-child(2) {
        text-align: left !important;
        padding-left: 24px;
    }
}
.checkbox_content {
    display: flex;
    justify-content: center;
}