<div class="coronita bodyCoronita">
    <div class="container bodyContainer">
        <h2>
            Asignación de perfiles de usuarios
        </h2>
        <p>
            heckli makes it easy to get things done, and get things done right. Make personal checklists, workflows and team processes.Checkli makes it easy to get things done, and get things done right. Make personal checklists, workflows and team processes
        </p>
        <div class="bs-example ">
            <div class="tables">
                <section class="comparison-table comparison-table__simple container">
                	<table>
                		<thead>
                			<tr>
                				<th>Código</th>
                				<th>Nombre</th>
                				<th>Apellido</th>
                				<th>Correo electrónico</th>
                				<th>Area</th>
                				<th style="width: 190px">Perfil asignado</th>
                                <th style="width: 80px;">Ocultar</th>
                                <th style="width: 80px;"></th>
                            </tr>
                        </thead>
                        <tbody>
                        <tr *ngFor="let item of items| paginate: config; let i = index">
                            <td><div  id="{{ 'div_1_' + i }}" >{{item.codigo}}</div><input type="text" id="{{ 'text_1_' + i }}" class="display_none" value='{{item.codigo}}'></td>
                            <td><div  id="{{ 'div_2_' + i }}" >{{item.nombre}}</div><input type="text" id="{{ 'text_2_' + i }}" class="display_none" value='{{item.nombre}}'></td>
                            <td><div  id="{{ 'div_3_' + i }}" >{{item.apellido}}</div><input type="text" id="{{ 'text_3_' + i }}" class="display_none" value='{{item.apellido}}'></td>
                            <td><div  id="{{ 'div_4_' + i }}" >{{item.email}}</div><input type="text" id="{{ 'text_4_' + i }}" class="display_none" value='{{item.email}}'></td>
                            <td><div  id="{{ 'div_5_' + i }}" >{{item.area}}</div><input type="text" id="{{ 'text_5_' + i }}" class="display_none" value='{{item.area}}'></td>
                            <td style="padding-left: 0px;padding-right: 0px;max-width: 190px;">
                                <div class="form__item form__item--fourth input__wrapper" (click)="dropdownComponent(i)" id="{{ 'combo_' + i }}">
                                    <div class="dropdown input--bg-white-grey">
                                        <input id="white_background_dropdown_form_2A" class="dropdown__value" value="" type="hidden" name="State">
                                            <div class="dropdown__text"  id="{{ 'dropdown__text_' + i }}"></div>
                                            <i class="dropdown__icon"></i>
                                            <div class="dropdown__menu">
                                                <div class="item" (click)="setAsValue(i,'Gerente')">Gerente</div>
                                                <div class="item" (click)="setAsValue(i,'Administrador')">Administrador</div>
                                                <div class="item" (click)="setAsValue(i,'OR')">OR</div>
                                                <div class="item" (click)="setAsValue(i,'MI')">MI</div>
                                            </div>
                                        </div>
                                    <div class="ui-wrong input__error-msg">Select a reason for your appointment</div>
                                </div>
                            </td>
                            <td>
                                <div class="form__item input__wrapper">
                                    <input id="{{ 'ui_cb_' + i }}" class="checkbox" value="" type="checkbox"/>
                                    <label for="{{ 'ui_cb_' + i }}" class="input-control__label">
                                        <span class="input-control__box">
                                            <svg class="checkbox__check" width="18" height="14" viewBox="0 0 18 14" fill-rule="evenodd">
                                                <path d="M16.667 0L6 10.61 1.333 5.97 0 7.295l6 5.968 1.405-1.398L18 1.325" />
                                            </svg>
                                        </span>
                                    </label>
                                </div>
                            </td>
                            <td>
                                <span class="ui-edit blue" (click)="edit_user(i)"></span>
                            </td>
                        </tr>

                        <tr id="new_user" class="display_none">
                            <td><input/></td>
                            <td><input/></td>
                            <td><input/></td>
                            <td><input/></td>
                            <td><input/></td>
                            <td style="padding-left: 0px;padding-right: 0px;max-width: 190px;">
                                <div class="form__item form__item--fourth input__wrapper" (click)="dropdownComponent(10)" id="combo_10">
                                    <div class="dropdown input--bg-white-grey">
                                        <input id="white_background_dropdown_form_2A" class="dropdown__value" value="" type="hidden" name="State">
                                            <div class="dropdown__text"  id="dropdown__text_10"></div>
                                            <i class="dropdown__icon"></i>
                                            <div class="dropdown__menu">
                                                <div class="item" (click)="setAsValue(10,'Gerente')">Gerente</div>
                                                <div class="item" (click)="setAsValue(10,'Administrador')">Administrador</div>
                                                <div class="item" (click)="setAsValue(10,'OR')">OR</div>
                                                <div class="item" (click)="setAsValue(10,'MI')">MI</div>
                                            </div>
                                        </div>
                                    <div class="ui-wrong input__error-msg">Select a reason for your appointment</div>

                                </div>
                            </td>
                            <td>
                                <div class="form__item input__wrapper">
                                    <input id="ui_cb_10" class="checkbox" value="" type="checkbox"/>
                                    <label for="ui_cb_10" class="input-control__label">
                                        <span class="input-control__box">
                                            <svg class="checkbox__check" width="18" height="14" viewBox="0 0 18 14" fill-rule="evenodd">
                                                <path d="M16.667 0L6 10.61 1.333 5.97 0 7.295l6 5.968 1.405-1.398L18 1.325" />
                                            </svg>
                                        </span>
                                    </label>
                                </div>

                            </td>
                            <td></td>
                        </tr>
                    </tbody>
                </table>

                 <div class="new-client">
                    <span class="ui-new-client blue" (click)="new_user_open()"></span>
                    <a class="text-new-client">Agregar otro empleado</a> 
                </div>
               

                <pagination-template #p="paginationApi" [id]="config.id" (pageChange)="config.currentPage = $event">
                <div class="custom-pagination">
                    <div class="ui-unfold rotate-left blue" [class.disabled]="p.isFirstPage()" *ngIf="!p.isFirstPage()" (click)="p.previous()"></div>
                    <div *ngFor="let page of p.pages" [class.current]="p.getCurrent() === page.value">
                        <a (click)="p.setCurrent(page.value)" *ngIf="p.getCurrent() !== page.value">
                            <span>{{ page.label }}</span>
                        </a>
                        <div *ngIf="p.getCurrent() === page.value">
                            <span>{{ page.label }}</span>
                        </div>
                    </div>
                    <div class="ui-unfold rotate-ringht blue" [class.disabled]="p.isLastPage()" *ngIf="!p.isLastPage()" (click)="p.next()"></div>
                </div>
                </pagination-template>


               
            </section>
        </div>
    </div>

<div class="bs-botton">
 <div class="row btn-defaults">
  <div class="col-mb-4 col-tb-4 col-sm-4 col-lg-4 col-xl-4" style="margin:auto;">
   <p>
    <a class="button button--white button--short"  href="#" role="button" title="active">
     Atrás
 </a>
</p>

</div>
<div class="col-mb-4 col-tb-4 col-sm-4 col-lg-4 col-xl-4" style="margin:auto;">

   <p>
    <a class="button button--primary button--short" href="#" role="button" title="active">
     Guardar
 </a>
</p>
</div>

<div class="col-mb-4 col-tb-4 col-sm-4 col-lg-4 col-xl-4" style="margin:auto;">

   <p>
    <a class="button button--aqua button--short" href="#" role="button" title="active">
     Siguiente
 </a>
</p>
</div>
</div>
</div>



</div>
</div>