.coronita.bodyCoronita {
    padding-top: 70px;
}
.container.bodyContainer {
    max-width: 1110px;
    text-align: center;
}
a.titulo-1 {
    z-index: 3;
    width: 823px;
    height: 48px;
    color: #121212;
    font-family: "BentonSansBBVA-Medium", Helvetica, Arial, sans-serif;
    font-size: 40px;
    font-weight: 400;
    line-height: 48px;
    text-align: center;
    cursor: default;
    margin-bottom: 15px;
    &:hover {
        color: #121212;
    }
}
h2 {
    Font-family: "BBVA Coronita Book", "Helvetica Neue", Arial, Helvetica, sans-serif;
    font-size: 33px;
    color: #121212;
}
p {
    line-height: 24px;
    font-family: "BentonSansBBVA-Book", Helvetica, Arial, sans-serif;
    font-size: 15px;
    letter-spacing: 0;
    color: #626262;
    cursor: default;
}
.tables {
    padding-top: 28px;
    section {
        &.comparison-table__simple {
            th {
                border-bottom: none !important;
                line-height: 24px;
                font-family: "BentonSansBBVA-Medium", Helvetica, Arial, sans-serif;
                font-size: 15px;
                text-align: center;
                padding: 24px 8px 24px 8px;
            }
            td {
                border-bottom: 1px solid #D8D8D8 !important;
                line-height: 24px;
                font-family: "BentonSansBBVA-Medium", Helvetica, Arial, sans-serif;
                font-size: 15px;
                text-align: center;
                padding: 8px;
                max-width: 157px;
                input {
                    width: -webkit-fill-available;
                    line-height: 56px;
                    background-color: #f4f4f4;
                }
            }
            table {
                border-bottom: none;
                border-collapse: collapse;
                border-bottom: none !important;
                width: 100%;
            }
            thead {
                background-color: #f4f4f4;
            }
            [class^="ui-"] {
                font-size: 26px;
                cursor: pointer;
            }
        }
    }
}
.display_none {
    display: none;
}
// paginador
.custom-pagination {
    display: flex;
    max-width: 165px;
    margin: auto;
    div {
        font-size: 21px;
        &.current {
            color: #1973b8;
        }
        &.rotate-left {
            transform: rotate(90.00001deg);
        }
        &.rotate-ringht {
            transform: rotate(-90.00001deg);
        }
    }
    a {
        z-index: 3;
        width: 18px;
        height: 24px;
        color: #1973b8;
        font-family: "BentonSansBBVA-Medium", Helvetica, Arial, sans-serif;
        font-size: 15px;
        font-weight: 400;
        line-height: 24px;
        text-align: center;
    }
}
//nuevo registro
a.text-new-client {
    margin: 8px !important;
    &:hover {
        color: #1973b8;
        cursor: default;
    }
}
div.new-client {
    text-align: right;
    padding-right: 8px;
    margin-top: 8px;
}
// editor de text
.header-editor {
    height: 56px;
    background-color: #f4f4f4;
    margin-top: 15px;
}
quill-editor {
    div {
        &.ql-toolbar.ql-snow {
            border-color: #f4f4f4;
        }
        &.ql-container.ql-snow {
            border-color: #f4f4f4;
        }
    }
}
span.ui-edit.blue.textEditor {
    float: right;
    font-size: 25px;
    margin-top: 14px;
    padding-right: 28px;
}
span.ui-alphabetical-order.blue.textEditor {
    padding-left: 45px;
    float: left;
    font-size: 25px;
    margin-top: 14px;
}
.ql-editor {
    height: 300px !important;
}
// botones
.row.btn-defaults {
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
}
.bs-botton {
    margin-top: 30px;
    margin-bottom: 120px;
}
// pogress
.paralelogramo {
    width: 121px;
    height: 8px;
    background: #f4f4f4;
    transform: skew(-20deg);
    display: inline-block;
    &-amarillo {
        width: 65px;
        height: 8px;
        background: #ffb701;
        transform: skew(-20deg);
    }
    &-rojo {
        width: 19px;
        height: 8px;
        background: #f10000;
        transform: skew(-20deg);
    }
    &-verde {
        width: 121px;
        height: 8px;
        background: #49ae64;
        transform: skew(-20deg);
    }
}
.negrilla {
    color: #121212;
}
.custom-pagination div {
    cursor: pointer;
}