<div class="headerContainer">
	<div class="row">
		<div class="col-1 col-tb-1 col-sm-1 col-lg-1 col-xl-1 ">
		</div>
		<div class="col-2 col-tb-2 col-sm-2 col-lg-2 col-xl-2">
			<div> 
				<a class="ui-face-id icono"></a>
			</div>
			<div>
				<a routerLink="/registro" class="body-selected" id="body-selected-0" >Información inicial proceso</a>
			</div>
		</div>
		<div class="col-2 col-tb-2 col-sm-2 col-lg-2 col-xl-2 ">
			<div> 
				<a class="ui-folder icono"></a>
			</div>
			<div>
				<a routerLink="/informacion" class="body-copy" id="body-selected-1" >Información</a>
			</div>
		</div>
		<div class="col-2 col-tb-2 col-sm-2 col-lg-2 col-xl-2 ">
			<div> 
				<a class="ui-show icono"></a>
			</div>
			<div>
				<a routerLink="/pre-oferta" class="body-copy" id="body-selected-2" >Visualización pre-oferta</a>
			</div>
		</div>
		<div class="col-2 col-tb-2 col-sm-2 col-lg-2 col-xl-2 ">
			<div> 
				<a class="ui-my-projects icono"></a>
			</div>
			<div>
				<a  routerLink="/contrato" class="body-copy" id="body-selected-3" >Previsualizar contrato</a>
			</div>
		</div>
		<div class="col-2 col-tb-2 col-sm-2 col-lg-2 col-xl-2 ">
			<div> 
				<a class="ui-lock icono"></a>
			</div>
			<div>
				<a  routerLink="/preguntas" class="body-copy" id="body-selected-4" >Preguntas de control</a>
			</div>
		</div>
		<div class="col-1 col-tb-1 col-sm-1 col-lg-1 col-xl-1 ">
		</div>
	</div>
</div>
