.coronita.c-vivienda {
    background-image: URL('assets/img/ING_32193_150112.jpg');
    min-height: 800px;
    background-size: 100% 100%;
}
.titulo-1 {
    font-size: 26px;
    line-height: 32px;
    font-family: "BentonSansBBVA-Medium", Helvetica, Arial, sans-serif;
}
.titulo-2 {
    Font-family: "BentonSansBBVA-Bold", Helvetica, Arial, sans-serif;
    font-size: 78px;
    line-height: 100px;
}
.titulo-3 {
    line-height: 24px;
    font-family: "BentonSansBBVA-Book", Helvetica, Arial, sans-serif;
    font-size: 15px;
    letter-spacing: 0;
}
p{
    color: #fff !important;
}